@page "/"
@using System 
@using System.IO
@using Microsoft.AspNetCore.Hosting
@* @inject ILogger<FileUpload1> Logger *@
@* @inject IWebHostEnvironment Environment  *@

<PageTitle>Login</PageTitle>

<h1>Login</h1>
<FormModal />
<DialogMessage />
<button >testtest</button>

<DialogMessage />

@code {
    
}