@page "/"
@using System 
@using System.IO
@using Microsoft.AspNetCore.Hosting
@* @inject ILogger<FileUpload1> Logger *@
@* @inject IWebHostEnvironment Environment  *@

<PageTitle>Inicio</PageTitle>

<h1>Login</h1>