@typeparam TValue

<div class="form-group mt-3">
    <label for="@Id">@InputName: </label>
    <select id="@Id" class="form-control" @bind="Value"  @oninput="UpdateValue">
        <option value="">Selecione uma opção</option>
        @foreach (var opt in Options) {
            <option value="@opt">@opt</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public string InputName { get; set; } = string.Empty;

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public TValue Value { get; set; }

    [Parameter]
    public List<string> Options { get; set; }

    [Parameter]
    public EventCallback<TValue> ValueChanged { get; set; }

    private void UpdateValue(ChangeEventArgs e)
    {
        if (e.Value is TValue value)
        {
            Value = value;
            ValueChanged.InvokeAsync(Value);
        }
    }
}